*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 600px;
    height: 600px;
    padding: 50px;
    background-color: violet;
    margin: 0 auto;
}

pre {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: larger;
    font-weight: 500;
    margin-top: 15px;
    border-bottom: 2px solid snow;
}