
.mOverOut {
    width: 120px; 
    height: 20px;
    padding: 40px; 
    background-color: violet;
}
.mDownUp {
    width: 500px;
    height: 250px;
    padding: 40px;
    background-color: royalblue;
}
div {
    margin: 50px;
}